/* Application-wide styling */

body {
    background-color: #FDFDFF;
}


/* Homepage styling */

.homepage-name {
    font-size: 2rem;
}

#homepage-email {
    font-size: 1.5rem;
}

.resume-icon {
    font-size: 3em;
    padding: 0 .5rem;
}

@media only screen and (max-width: 768px) {
    .homepage-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .homepage-name {
        font-size: 1.5rem;
    }
    #homepage-email {
        font-size: 1rem;
    }
    .resume-icon {
        font-size: 2em;
    }
}

/* Portoflio item styling */

.portfolio-project {
    color: #3273DC;
}

.portfolio-project:hover {
    color: black;
    cursor: pointer;
}

#project-title {
    font-weight: 700;
}

#portfolio-screenshot{
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    margin-bottom: 2em;
}

/* Resume styling */

#resume-name,
.job-entry {
    margin-bottom: 2em;
}

.resume-job {
    font-size: 1.5rem;
}

#resume-section,
.resume-position,
.job-entry li {
    font-size: 1.25rem;
}

.resume-date {
    display: block;
    text-align: right;
}


.resume-button {
    font-size: 1rem;
}

@media only screen and (max-width: 768px) {
    #resume-name {
        font-size: 1.5rem;
    }
    .resume-job {
        font-size: 1rem;
    }
    #resume-section,
    .resume-position,
    .job-entry li {
        font-size: .75rem;
    }
    .resume-button {
        border-radius: 2px;
        font-size: 0.75rem;
    }

}


/* Ribbon Rack page styling */

@media only screen and (max-width: 1024px) {
    #timeline-column {
        margin-bottom: 3rem;
    }
}

#ribbon-rack {
    margin-bottom: 2rem;
}

.mil-ribbon-row {
    margin-bottom: .25rem!important;
}

.mil-ribbon {
    padding: .25rem;
}

.mil-ribbon img:hover {
    cursor: pointer;
}

#medal-name {
    font-weight: 700;
}


/* Footer-specific styling */

#footer {
    margin: 3rem 0rem;
}

#nabeek-link:hover,
#match-id:hover,
#repo-link:hover {
    cursor: pointer;
    color: #3273DC;
}